<div class="row">
  <div class="col-md-12">
  <h1> Description </h1>
    famous-flex-angular is an angular module dependent on famous-angular. It uses the $famous service to register the famous-flex components, 
    and $famousProvider to relate the famous render tree to angular scope.  
  <h2>Examples</h2>
  <ul>
  <li>date-picker. Uses the ffa-date-picker directive. 
	<ul>
	  <li> currently there is some issue with rotation.
	  </li>
	</ul>
  </li>
  <li>flex-scroll-view. Uses the ffa-flex-scroll-view directive. Possible to alter layout function. 
        <ul>
          <li> may need to resize the browser window initially to view the functionality
          </li>
	  <li> currently layout function selection is wired in, but layout function options only valid for collection layout.
	  </li>
	  <li> can add additional surfaces with the Add Square button
      	  </li>
        </ul>
  </li>
  <li>grid-layout. Uses the ffa-grid-layout directive. The layout function used is flex-grid-layout.
	<ul>
	  <li> this uses a fixed layout function 
	  </li>
	</ul>
  </li>
  <li>layout-controller
  </li>
  <li>nav-bar. Uses the ffa-nav-bar directive. Transcludes html fragment and wraps buttons in surfaces. 
    <ul>
	<li> some issue with title layout
	</li>
    </ul>
  </li>
  <li>tab-bar. Uses the ffa-tab-bar directive. 
    <ul>
      <li> seems to work fine.
      </li>
    </ul>
  </li>
  </ul>
  </div>
</div>
