<div ng-controller="GridCtrl">
<!--button ng-click="changeDirection()">Change Direction</button-->
<fa-app resizable ng-style="{height: windowHeight + 'px', top: '10px'}">
  <ffa-layout-controller fa-options="myGridLayoutOptions">
    <fa-modifier ng-repeat="grid in grids" fa-size="[100,100]">
      <fa-surface fa-background-color="grid.bgColor">{{windowHeight}}</fa-surface>
    </fa-modifier>
  </ffa-layout-controller>
  <ffa-nav-bar-control ng-style="{height:'10px',width:'1000px'}">
    <div>
      <div class="title">My Title</div>
	<button class="left">Hello</button>
	<button class="left">There</button>
	<button class="left">Friend</button>
	<button class="right">What</button>
	<button class="right">How</button>
      </div>
    </div>
  </ffa-nav-bar-control>
</fa-app>
</div>
