<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My project</title>
<link rel="stylesheet" href="../bower_components/famous-angular/dist/famous-angular.css">
<script data-require="ui-router@*" data-semver="0.2.13" src="//rawgit.com/angular-ui/ui-router/0.2.13/release/angular-ui-router.js"></script>
    
</head>
<body>
<div ng-controller="FlexScrollViewCtrl">
<nav class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand">Famous-Flex-Angular</a>
    <div>
      <ul class="nav navbar-nav">
	<li><a ng-click="setPage('demo1')">demo 1</a></li>
	<li><a ng-click="setPage('demo2')">demo 2</a></li>
	<li><a ng-click="setPage('demo3')">demo 3</a></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav pull-right">
        <li><a>right 1</a></li>
	<li><a>right 2</a></li>
      </ul>
    </div>
  </div>
</nav>
<section ui-view></section>
<button ng-click="changeDirection()">Change Direction</button>
<button ng-click="addSquare()">Add Square</button>
{{myOptions}}
<br>
{{grids}}
<form ng-repeat="layout in availableLayouts">
<input type="radio" ng-model="$parent.selectedLayout" ng-change="updateLayout()" value="{{layout}}">{{layout}}
</form>
{{selectedLayout}}
<fa-app resizable ng-style="{height: windowHeight + 'px', top: '10px'}">
  <ffa-flex-scroll-view fa-options="myOptions">
    <fa-modifier ng-repeat="grid in grids" fa-size="[100,100]">
      <fa-surface fa-background-color="grid.bgColor">{{windowHeight}}</fa-surface>
    </fa-modifier>
  </ffa-flex-scroll-view>
</fa-app>
</div>
<script src="bundle.js"></script>
</body>
</html>
